:root {
    --gradient-bg:linear-gradient(
            90deg,
            hsl(7, 67%, 68%) 0%,
            hsl(17deg 89% 59%) 33%,
            hsl(17deg 89% 59%) 67%,
            hsl(7, 67%, 68%) 100%
    );
}

@media screen and (max-width: 768px) {
   .about-us-container{
       margin-top: 60px;
   }
    h2{
        color: #ffffff;
        font-size: 1.5rem;

    }
    p{
        padding-top: 5px;
        color: #ecebeb;
        font-size: 1.1rem;
    }
}

.about-us-container {
    padding-top: 5%;
    background: var(--gradient-bg);
    width: 100%;
}

.about-us-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
}

.about-us-content {
    color: #ffffff;
    line-height: 1.8;
    font-size: 20px;
    background: rgba(27, 27, 27, 0.67);
    border-radius: 10px;
    border: #7eea6a 5px solid;
    box-shadow: 0px 0px 5px -3px #111;
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.space {
    padding: 25px 20px;
}

