:root {
    --gradient-bg:linear-gradient(
            90deg,
            hsl(7, 67%, 68%) 0%,
            hsl(17deg 89% 59%) 33%,
            hsl(17deg 89% 59%) 67%,
            hsl(7, 67%, 68%) 100%
    );
}


.about-us-container {
    padding-top: 10%;
    background: var(--gradient-bg);
    width: 100%;
}

.about-us-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
}

.about-us-content {
    color: #ffffff;
    line-height: 1.8;
    font-size: 20px;
    background: rgba(27, 27, 27, 0.27);
    border-radius: 10px;
}
.space {
    padding: 25px 20px;
}

