:root {
    --gradient-bg: linear-gradient(
            90deg,
            hsl(346deg 75% 49%) 0%,
            hsl(17deg 89% 59%) 33%,
            hsl(17deg 89% 59%) 67%,
            hsl(346deg 75% 49%) 100%
    );
}

.logo-number-img {
    padding-bottom: 21%;
    aspect-ratio: auto;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}

.logo-number-img img {
    border-radius: 5px;
    /*width: 100%;*/
    width: 150px;

}

.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.justify-content-end{
    justify-content: end;
}
.column {
    width: 100%;
}

.contact-container {
    background: var(--gradient-bg);
    width: 100%;
    min-height: 70vh;


}

.contact-header {
    padding-top: 5%;

}

@media screen and (max-width: 768px) {
    .contact-header {
        padding-top: 10%;

    }
}

.contact-container h1 {
    font-size: 2.5rem;
    color: #fff;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;

}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
    display: block;
}

button[type="submit"] {
    background-color: #27b0a7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"]:hover {
    background-color: #1f8d86;
}

