:root {
    --gradient-bg:linear-gradient(
            90deg,
            hsl(346deg 75% 49%) 0%,
            hsl(17deg 89% 59%) 33%,
            hsl(17deg 89% 59%) 67%,
            hsl(346deg 75% 49%) 100%
    );
}


.contact-container {
    padding: 20px;
    background: var(--gradient-bg);
    width: 100%;

}

.contact-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;

}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
