:root {
    --gradient-bg: linear-gradient(
            90deg,
            hsl(346deg 75% 49%) 0%,
            hsl(17deg 89% 59%) 33%,
            hsl(17deg 89% 59%) 67%,
            hsl(346deg 75% 49%) 100%
    );
}

.logo-number-img {
    padding-bottom: 21%;
    aspect-ratio: auto;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}

.logo-number-img img {
    border-radius: 5px;
    width: 150px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.justify-content-end{
    justify-content: end;
}

.column {
    width: 100%;
}

.contact-container {
    background: var(--gradient-bg);
    width: 100%;
    min-height: 70vh;
}

.contact-header {
    padding-top: 5%;
}

@media screen and (max-width: 768px) {
    .contact-header {
        margin-top: 60px;
    }
}

.contact-container h1 {
    font-size: 2.5rem;
    color: #fff;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
    display: block;
}

button[type="submit"] {
    background-color: #27b0a7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"]:hover {
    background-color: #1f8d86;
}

/* EMAIL SENT STYLES */
.success {
    position: fixed;
    top: 1px;
    left: 78%;
    z-index: 3000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #EDFBD8;
    border-radius: 8px;
    border: 1px solid #84D65A;
    box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.success__icon path {
    fill: #84D65A;
}

.success__title {
    font-weight: 500;
    font-size: 14px;
    color: #2B641E;
}

.success__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.success__close path {
    fill: #2B641E;
}

@media screen and (max-width: 768px) {
    .success {
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
        width: 90%;
    }
}
