/* Global Styles */
:root {
    --gradient-bg: linear-gradient(
            90deg,
            hsl(120deg 100% 0%) 0%,
            hsl(137deg 35% 7%) 8%,
            hsl(150deg 47% 10%) 15%,
            hsl(161deg 82% 12%) 23%,
            hsl(164deg 97% 15%) 31%,
            hsl(164deg 97% 20%) 39%,
            hsl(164deg 94% 25%) 46%,
            hsl(164deg 94% 25%) 54%,
            hsl(164deg 97% 20%) 62%,
            hsl(164deg 97% 15%) 69%,
            hsl(161deg 82% 12%) 77%,
            hsl(150deg 47% 10%) 85%,
            hsl(137deg 35% 7%) 92%,
            hsl(120deg 100% 0%) 100%
    );
}

body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: black;
}

.home-container {
    background-image: var(--gradient-bg);
    color: white;
}

/* Logo */
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 2s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Header */
.header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 20px; /* Add padding */
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.6); /* Add box shadow to the bottom */
}

.nav-title {
    flex: 1;
    text-align: center;
}

.nav {
    padding: 10px 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
    filter: drop-shadow(0 0 2px #61dafb); /* Drop shadow effect on hover */
}

/* Main Content */
.main-content {
    padding: 20px 0;
}

.main-content h2 {
    margin-bottom: 10px;
}

/* Main Content Images */
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content img {
    width: 400px;
    aspect-ratio: auto;
}

/* Image Container */
.image-container {
    width: 50%; /* Make the image fill its column */
}

/* Image Text Container */
.image-text-container {
    display: flex;
    justify-content: center;

}

/* Define a container for the row */
.row {
    display: flex; /* Use Flexbox */
    flex-wrap: nowrap; /* Prevent wrapping to next line */
    justify-content: flex-start; /* Align items along the main axis (horizontally) */
    align-items: center; /* Stretch items to match the container's height */
}

/* Define styles for the columns */
.column {
    width: 100%
}

/* Footer */
.footer {
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.space{
    margin-left: 150px;
}
