/* Global Styles */
/*
This also includes all my Layout css for nav bar , footer
Main css file

*/
:root {
    --gradient-bg: linear-gradient(
            90deg,
            hsl(7, 67%, 68%) 0%,
            hsl(17deg 89% 59%) 33%,
            hsl(17deg 89% 59%) 67%,
            hsl(7, 67%, 68%) 100%
    );
}

.layout-container {
    background: var(--gradient-bg);
    padding: unset;
}

.hidden {
    display: none;
}

.opacity-0 {
    opacity: 0;
}

body {
    margin: 0 auto;
    text-align: center;
    background-image: url("public/red-gravel.jpeg");
    background-size: auto;
    overflow-x: hidden; /* Disable horizontal scrolling */
}

@media screen and (min-width: 768px) {
    body {
        max-width: 1280px;
        overflow-x: hidden; /* Disable horizontal scrolling on larger screens */
    }
}

.home-container {
    background-image: var(--gradient-bg);
    color: white;
}

/* Logo */
.logo {
    height: 6em;
    padding: 1.5em;
}

/* Header */
.header {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s linear;
    position: relative;
}

.hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.close-button {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    font-size: 40px;
}

.close-button:hover {
    background-color: #555;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dc204b;
    z-index: 1000;
    padding: 0 10px;
    height: 150px;
    width: 100%; /* Ensure the navbar spans the full width of its container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    position: fixed; /* Make the navbar fixed */
    top: 0;
    left: 0;
    box-shadow: 0 2px 8px rgba(255, 254, 254, 0.2); /* Optional: Add a shadow for better visibility */
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
}

.nav ul li {
    margin-right: 20px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav ul button {
    position: absolute;
    left: 90%;
    bottom: 15%;
}

.nav ul li a:hover {
    text-decoration: underline;
    filter: drop-shadow(0 0 2px #61dafb); /* Drop shadow effect on hover */
}

@media (max-width: 768px) {
    .nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f88c34;
        padding: 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    }

    .nav ul.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .nav-title h2 {
        display: none; /* Hide the title on tablet and smaller screens */
    }


}

/* Main Content */
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10%;
    background: var(--gradient-bg);
}

.main-content img {
    max-width: 100%;
    height: auto;
    object-fit: fill;
}

.main-content p {
    border-radius: 1%;
}

.main-content h1 {
    border-radius: 1%;
}

.main-content h2 {
    margin-bottom: 10px;
}

.main-content-title {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    margin-top: 3px;
}

/* Image Container */
.image-container {
    width: 50%; /* Make the image fill its column */
}

@media screen and (max-width: 768px) {
    .overlay-container{
        padding-top: 25px;
        background: #1b1b1b;

    }
    .image-container img{
        width: 100%;
        height: 100%;
    }
    span {
        font-size: 1rem;
    }

    p {
        font-size: 2rem;
    }

    .image-container {
        width: 100%;
    }

    .image-text-container {
        font-size: .75em;
    }

    .column {
        width: 100%;
    }
    .footer p{
        font-size: 1rem;
        color: #ffffff;
    }
   .BDT-footer p{
       font-size: 1rem;

   }
    .BDT-footer a{
        color: #ffffff;
        font-size: 1.1rem;
        text-decoration: unset;
    }
}

/* Image Text Container */
.image-text-container {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 50%;
}

.image-text-container span {
    border-radius: 1%;
    border: #dc204b 2px solid;
}

.content-card {
    background-color: #dc204b;
    border: #7eea6a 5px solid;
    box-shadow: 0px 0px 0px #1b1b1b, 0px 0px 0px #272727;
    filter: drop-shadow(0 0 2em #61dafbaa);

}

/* Define a container for the row */
.row {
    width: 100%;
    display: flex; /* Use Flexbox */
    flex-wrap: nowrap; /* Prevent wrapping to next line */
    justify-content: flex-start; /* Align items along the main axis (horizontally) */
    align-items: center; /* Stretch items to match the container's height */
}

/* Define styles for the columns */
.column {
    width: 100%;
}


/* Footer */
.footer {
    color: #fff;
    padding: 20px 0;
    background: var(--gradient-bg);
    font-size: 1.1rem;
}

.footer a {
    text-decoration: unset;
    color: #ffffff;
    font-size: 1.1rem;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BDT-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.BDT-footer img {
    width: 30px;
    aspect-ratio: 1;
    margin-right: 5px;
}

.BDT-footer p {
    margin: 0;
}


.overlay-container {
    position: relative; /* Position relative for absolute positioning of text */
    width: 100%;
    text-align: center;
    color: white;
}
.animated-image{
    object-fit:fill;
    background: white;
}
.overlay-container img {
    width: 100%;
    height: auto;
}

.overlay-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(4, 1, 21, 0.37), rgba(2, 6, 30, 0.36)); /* Gradient background for readability */
    border: 1px solid;
    border-image-source: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Gradient for border image */
    border-image-slice: 1;
    border-image-width: 10px;
    border-image-outset: 0;
    border-image-repeat: stretch;
}

.overlay-hero-text {
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.overlay-hero h1 {
    margin: 0 0 20px 0;
    font-size: 4em;
}

/* Media query to hide paragraphs on smaller screens */
@media (max-width: 768px) {
    .overlay-hero-text {
        font-size: 1em;
    }


    .overlay-hero-text .first-paragraph {
        display: block;
    }

    .overlay-hero-text .second-paragraph {
        display: block;
    }
}

/* Utility Classes */
.space-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.space-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.span-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: start;
}
