:root {
    --gradient-bg:linear-gradient(
            90deg,
            hsl(346deg 75% 49%) 0%,
            hsl(17deg 89% 59%) 33%,
            hsl(17deg 89% 59%) 67%,
            hsl(346deg 75% 49%) 100%
    );
}

.portfolio-container {
    padding: 20px;
    background: var(--gradient-bg);
    width: 100%;
    min-height: 500px;
    color: #fff;
}

.portfolio-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.portfolio-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background: rgba(27, 27, 27, 0.5);

}

.portfolio-item img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
}

.portfolio-item h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.portfolio-item p {
    margin-top: 5px;
}
